<div class="add">

  <h2 class="text-center mt-3 mb-0"> Ingrese las empanadas que desee agregar</h2> <br>

  <form *ngIf="form && !isSavingForm" [formGroup]="form" class="form">
    <div formArrayName="pies" *ngFor="let item of form.get('pies').controls; let i = index;">
      <div [formGroupName]="i">
        <table class="example-full-width m-auto" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Variedad</mat-label>
                <input matInput formControlName="variety" placeholder="Ej. Carne">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Precio $</mat-label>
                <input matInput formControlName="price" placeholder="Ej. 5.75" type="number">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </form>

  <div class="buttons text-center" *ngIf="!isSavingForm">
    <button mat-raised-button (click)="back()" color="warn">Volver</button>
    <button mat-raised-button (click)="addInputPies()">+ Agregar otra
      empanada</button>
    <!--<button mat-raised-button (click)="ejemplo()">Agregar plantilla ejemplo (Desarrollador)</button>-->
    <button mat-raised-button (click)="addPies()" [disabled]="!form.valid" color="primary">Finalizar</button>
  </div>

  <div *ngIf="isSavingForm">
    <div class="row justify-content-center mt-5">
      <mat-spinner></mat-spinner>
    </div>
    <p class="text-center mt-5">GUARDANDO DATOS. POR FAVOR NO CIERRE.</p>
  </div>
</div>
