<div class="add">
  <form *ngIf="form" [formGroup]="form">
    <div formArrayName="pies" *ngFor="let item of form.get('pies').controls; let i = index;">
      <div [formGroupName]="i">
        <table class="example-full-width m-auto" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Variedad</mat-label>
                <input matInput formControlName="variety" placeholder="Ej. Carne">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Precio $</mat-label>
                <input matInput formControlName="price" placeholder="Ej. 5.75">
              </mat-form-field>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </form>

  <div class="text-center align-bottom">
    <button mat-raised-button (click)="addInputPies()" color="primary">+ Agregar otra empanada</button>
  </div>

  <div class="text-center align-bottom mt-5">
    <button mat-raised-button (click)="addPies()" color="warn">Finalizar</button>
  </div>

</div>
