.add {
  width: 100%;
  overflow: hidden;
}

td {
  padding-right: 12px;
}

.form {
  min-height: 60vh;
}

.buttons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
