<div class="container">
  <h2 class="text-center mt-3 mb-0"> Ingrese las empanadas que desee agregar</h2> <br>

  <!-- Form container-->
  <form *ngIf="form && !isSavingForm" [formGroup]="form" class="form">
    <div formArrayName="pies" *ngFor="let item of formData.controls; let i = index;">
      <div [formGroupName]="i">
        <table class="example-full-width m-auto" cellspacing="0">

          <tr>
            <td>
              <!-- Variety input-->
              <mat-form-field class="example-full-width">

                <mat-label>Variedad</mat-label>
                <input matInput formControlName="variety" placeholder="Ej. Carne">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>

              </mat-form-field>
            </td>
            <td>
              <!-- Price input-->
              <mat-form-field class="example-full-width">
                <mat-label>Precio $</mat-label>
                <input matInput formControlName="price" placeholder="Ej. 5.75" type="number">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>
            </td>
            <td>
              <button mat-icon-button (click)="delete(i)" color="warn">
                <mat-icon>clear</mat-icon>
              </button>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </form>

  <!-- Buttons: only enabled when is not saving data -->
  <div class="buttons text-center" *ngIf="!isSavingForm">
    <!-- Button: back to home page -->
    <button mat-raised-button (click)="back()" color="warn">Volver</button>
    <!-- Button: add input fields -->
    <button mat-raised-button (click)="addInputPies()">+ Agregar otra
      empanada</button>
    <!-- Button: saving data -->
    <button mat-raised-button (click)="addPies()" [disabled]="!form.valid || form.value['pies'].length === 0"
      color="primary">Finalizar</button>
  </div>

  <!-- Spinner while data is saving in the BD -->
  <app-spinner textSpinner='Guardando datos. Por favor aguarde unos segundos.' *ngIf="isSavingForm"></app-spinner>

</div>
