<div class="container pb-5">
  <h2 class="text-center m-5">EDITAR EMPANADA(S)</h2>

  <!-- Form container -->
  <form *ngIf="form && !isSavingForm" [formGroup]="form">
    <div formArrayName="pie" *ngFor="let pieFormGroup of formData.controls; let i = index;">
      <div [formGroupName]="i">

        <!-- Table container-->
        <table class="m-auto" cellspacing="0">
          <tr>
            <td>

              <!-- Variety input-->
              <mat-form-field>
                <mat-label>Variedad</mat-label>
                <input matInput formControlName="variety" type="text" class="text-capitalize">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>
            </td>
            <td>

              <!-- Price input-->
              <mat-form-field>
                <mat-label>Precio $</mat-label>
                <input matInput formControlName="price" type="number">
                <mat-error>
                  Este campo es obligatorio.
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>


  <div class="buttons text-center" *ngIf="!isSavingForm">
    <button mat-raised-button (click)="back()" color="warn">Volver</button>
    <button mat-raised-button (click)="updatePies()" [disabled]="!form.valid" color="accent">Actualizar</button>
  </div>

  <!-- Spinner while data is saving in the BD -->
  <app-spinner textSpinner='Guardando datos. Por favor aguarde unos segundos.' *ngIf="isSavingForm"></app-spinner>
</div>
